{% extends 'admins/adminbase.html'%}
{%load static%}
{%block contents%}
<div id="content">
    <h1>Random Number Generator with<span style="color:#b29b35;"> XorShiftAnd</span> and Image Encryption</h1>

    <h2>View Registered Users</h2>
    <p>
    <table class="table table-bordered bg-light text-dark" border="2px">
        <thead>
        <tr style="color:red;font-weight:bold;">
            <th>S.No</th>
            <th>Name</th>
            <th>Login ID</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Locality</th>
            <th>Status</th>
            <th>Activate</th>
        </tr>
        </thead>
        <tbody>
        {% for i in data %}
        <tr style="color: Green">
            <td>{{forloop.counter}}</td>
            <td>{{i.name}}</td>
            <td>{{i.loginid}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.email}}</td>
            <td>{{i.locality}}</td>
            <td>{{i.status}}</td>

            {% if i.status == 'waiting' %}
            <td><a class="btn-link" href="/ActivaUsers/?uid={{ i.id }}"
                   style="color:DARKBLUE">Activate</a>/<a class="btn-link" href="/DeleteUsers/?uid={{ i.id }}"
                   style="color:RED">Delete</a>
            </td>
            {% else %}
            <td> Activated/ <a class="btn-link" href="/BlockUsers/?uid={{ i.id }}"
                   style="color:BLUE">Block</a></td>
            {% endif %}
        </tr>
        {% endfor %}

        </tbody>
    </table>
    {%endblock%}